
*.0
*.1
*.3
*.2
*.bin
*.json
*.pt
*.pth
*.txt
*.pyc
*.pyc
*.pyc
*.pyc
__pycache__/EMdata.cpython-37.pyc
*.pyc
*.pyc
.ipynb_checkpoints/Read_star-checkpoint.ipynb
.ipynb_checkpoints/Read_Star-checkpoint.ipynb
.ipynb_checkpoints/embedding-checkpoint.ipynb
.ipynb_checkpoints/BERT_2Dclass_ignore-checkpoint.ipynb
*.5
*.4
*.7
*.6
.ipynb_checkpoints/BERT_2Dclass_ignore-checkpoint.ipynb
.ipynb_checkpoints/BERT_Npos-checkpoint.ipynb
.ipynb_checkpoints/embedding-checkpoint.ipynb
.ipynb_checkpoints/Read_Star-checkpoint.ipynb
.ipynb_checkpoints/Read_star-checkpoint.ipynb
__pycache__/EMdata.cpython-37.pyc
notebook/.ipynb_checkpoints/BERT_Npos-checkpoint.ipynb
.idea
.ipynb_checkpoints
Pipfile.lock
Pipfile
__pycache__
